/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.scrollable {
  overflow-y: auto;
}

.container {
  background: rgba(245, 245, 245, 0.86);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px #0000001a;
  margin-top: 40px;
  width: 55em;
}

.text {
    font-size: 1.5em;
    color: #14406e;
    font-weight: 500;
}

.gradient-text {
    background: linear-gradient(180deg, #4cd0e4, #3babbc, #19484f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}