turbo-frame#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
}

turbo-frame#modal:has(.modal-backdrop) {
  pointer-events: auto; 
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 100%;
  max-width: 400px;
  animation: slideUp 0.3s ease-out;
}

/* The X Button */
.close-modal-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #678;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  z-index: 10;
  transition: color 0.2s;
}
.close-modal-btn:hover {
  color: #fff;
}

.log-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #1e2328;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.log-container h2 {
  margin-top: 0;
  border-bottom: 1px solid #456;
  padding-bottom: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.field label {
  display: block;
  color: #9ab;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: #2c3440;
  border: 1px solid #456;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
}

.checkbox-input {
  width: 15%;
  background-color: #2c3440;
  border: 1px solid #456;
  border-radius: 3px;
  color: #fff;
  font-size: 5rem;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #fff;
  background-color: #3d4650;
}

.checkbox-field {
  /* display: flex;
  align-items: center; */
  gap: 10px;
}

.checkbox-label {
  margin-bottom: 0 !important;
  font-size: 0.85rem;
  color: #9ab;
  text-transform: none !important;
  cursor: pointer;
}

input[type="checkbox"] {
    width:20px;
    height:20px;
    accent-color: #00e054;
    cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
}

.log-btn {
  width: 100%;
  padding: 12px;
  background-color: #00e054;
  color: #14181c;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}

.log-btn:hover {
  background-color: #00b040;
}

.form-errors{
    font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.form-errors > ul{
  list-style: none;
  color:red;
}

.form-errrors > ul > li{
  color:red;
}
