.user-profile {
    background-color: #14181c;
    color: #9ab;
    font-family: 'Helvetica', 'Arial', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.user-phrase {
    font-style: italic;
    font-size: 1.2em;
    color: #e09916;
    margin-top:10px;

}